/*
	help.css
	Specific styles for help page.
*/


#ps-help-frame {
	border: 1px solid #e2e4f3;
	background: #94a525;
	margin: 0pt 0.5em 1em;
	text-align: left;
}

#ps-help-frame a.team {
	font-weight: bold;
}

#ps-container .ps-help-ctrl,
#ps-container .ps-help-ctrl-bottom {
	margin-bottom: 0.5em;
	border-bottom: 2px solid #e2e4f3;
	padding: 0;
	text-align: center;
	background:transparent url(../img/table-header-bg.gif) repeat scroll 0% 50%;
	line-height:19px;
}
#ps-help-hdr {
	margin: 0.5em 0.25em;
	padding: 1em;
	text-align: center;
	border: 1px solid #4d5174;
	background: #78a89c url(../img/frame-header-bg.jpg);
    background-repeat; repeat-y top left;
    background-size: 100%;
/*
	border: 1px solid black;
	background: #92929F;
	color: #D8D8EB;
*/
}
#ps-help-hdr h1 {
	color: #99a3a4;
	border: none;
	font-size: 150%;
}

#ps-container .ps-help-ctrl-bottom {
	margin-top: 0.5em;
	border-top: 2px solid #e2e4f3;
	margin-bottom: 0;
	border-bottom: none;
}

#ps-container .ps-help-ctrl-bottom div.next,
#ps-container .ps-help-ctrl div.next {
	float: right;
	padding: 0 1em;
}
#ps-container .ps-help-ctrl-bottom div.prev, 
#ps-container .ps-help-ctrl div.prev {
	float: left;
	padding: 0 1em;
}

.ps-help-ctrl-bottom div.curr, 
.ps-help-ctrl div.curr {
	font-weight: bold;
}

#ps-container .ps-help-ctrl-bottom a.next, 
#ps-container .ps-help-ctrl a.next {
	background: url(../img/icons/arrow_right.gif) no-repeat 100% 50%;
	padding-right: 20px;
	font-weight: bold;
	margin-left: 0.25em;
}

#ps-container .ps-help-ctrl-bottom a.prev, 
#ps-container .ps-help-ctrl a.prev {
	background: url(../img/icons/arrow_left.gif) no-repeat 0 50%;
	padding-left: 20px;
	font-weight: bold;
	margin-right: 0.25em;
}

#ps-help-frame .help h1
{
	font-family: Helvetica,"trebuchet ms",arial,sans-serif;
	font-size: 110%;
	font-weight: bold;
	color: #8c8d72;
	width: 90%;
	border-bottom: 1px solid #aaa;
	margin-bottom: 5px;
}

#ps-help-frame .help,
#ps-help-frame .help-none {
	padding: 0.5em;
	padding-left: 40px;
	border: 1px solid #fef9ff;
	margin: 0.25em;
	background-image: url(../img/icons/search.webp), url(../img/icons/help.webp);
	background-position: 10px 5px, 99% 5px;
	background-repeat: no-repeat, no-repeat;
	background-color: #fff;
}
#ps-help-frame .hint {
	padding: 0.5em;
	color: #444;
	padding-left: 40px;
	border: 2px dashed #9999a5;
	margin: 0.25em;
	background-color: #dadaee;
}
#ps-help-frame .help-hdr {
	padding: 0.5em;
	margin: 0.25em;
	border-bottom: 3px solid #f7fbfc;
	background: #033600;
	color: #ffff66;
	font-weight: bold;
	text-align: center;
}
#ps-help-frame .help-none {
	background: #FFFFEE;
}

#ps-help-frame .help h2 {
    color: #797967;
	font-size: 110%;
	font-weight: bold;
}
#ps-help-frame .ps-himg-disp {
	display: block;
	margin-right: auto;
	border: 1px solid #737a80;
	background-color: #e5e6d9;
	overflow: hidden;
	margin-bottom: 1em;
	padding: 0.5em;
}
#ps-help-frame .help ul {
	margin-bottom: 1em;
}
#ps-help-frame .help li {
	margin-bottom: 0.1em;
}
#ps-help-frame .help p {
	font-size: 100%;
	color: #92929F;
	margin: 0 1em 1em 1em;
}

#ps-help-frame .selected-team {
	border: 3px solid blue;
}
#ps-container input.hsearch {
	background: white url(../img/search-input-icon.gif) no-repeat 0 50%;
	padding-left: 17px;
	border: 1px solid gray;
	width: 500px;
}
#ps-help-frame div.help p code {
	display: flex;
	align-items: center;
	height: 4em;
	width: fit-content;
	border: 1px solid #888;
	background: #f3f3f3;
}

/*
	Feedback buttons
*/
#ps-help-frame div.help form {
	float: right;
}
#ps-help-frame div.help form input.btn {
	border: none;
	color: transparent;
	width: 26px;
	margin-left: 10px;
	cursor: pointer;
}
#ps-help-frame div.help form input.btn.like {
	background: url(../img/icons/thumbsup.webp) no-repeat 0 50%;
}
#ps-help-frame div.help form input.btn.dislike {
	background: url(../img/icons/thumbsdown.webp) no-repeat 0 50%;
}

/*
	Left Column
*/
.ps-column-content div.firstrow {
	width: 100%;
	background-color: #e4dcce;
	border: none;
}

.ps-column-content div label.thelp {
	position: relative;
	left: 0.5em;
	font-weight: bold;
}
#ps-container .ps-column-content div.chelp
{
	border-bottom: 1px solid #ddd;
	line-height: 1.5em;
	padding: 0.1em 0.3em 0 1.5em;
	clear: left;			/* IE7 */
	min-height: 1.5em;
}
#ps-container .ps-column-content div.chelp p code {
	display: flex;
	overflow: hidden;
	white-space: nowrap;
	align-items: center;
	height: 2em;
	width: 240px;
	border: 1px solid #888;
	background: #f3f3f3;
}